{% extends "base.html.twig" %}

    {% block body %}
    <div class="container form-container">
        <div class="col s12 m12">
        {{ form_start(form) }}
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <span class="validation-feedback"><i class="material-icons" id="edit-skill-name-feedback"></i></span>
            <span class="error-msg" id="edit-skill-name-error"></span>
        </div>
        <div>
            {{ form_label(form.level) }}
            {{ form_widget(form.level) }}
            <span class="validation-feedback"><i class="material-icons" id="edit-skill-level-feedback"></i></span>
            <span class="error-msg" id="edit-skill-level-error"></span>
        </div>
        <div>
            <button class="btn waves-effect waves-light color-action-darken" type="submit"><i class="material-icons right">send
                </i>Valider
            </button>
        </div>
        {{ form_end(form) }}
        <div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('build/validateSkillForm.js')}}"></script>

    {% endblock %}