{% extends 'base.html.twig' %}

    {% block body %}

        {{ form_start(form) }}
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <input type="hidden" value="{{ tech.name }}">
        </div>
        <div>
            <button type="submit">Valider</button>
        </div>
        {{ form_end(form) }}

    {% endblock %}