{% extends "base.html.twig" %}


    {% block body %}
        <div class="row">
            <div id="top" class="top-img col s12" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ asset('../uploads/home.jpg') }}')">
            </div>
        </div>

        <div class="container">

            <div class="row section scrollspy about-me-section" id="about-me">
                <div class="col s12">

                        <h1 class="section-title">A PROPOS DE MOI....</h1>

                    <blockquote class="color-border-blockquote">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed feugiat ipsum, ac faucibus augue. Quisque iaculis velit in magna mollis sollicitudin. Praesent eget ultrices dui.
                            Quisque faucibus risus ac neque mollis, non accumsan nisl malesuada. Morbi bibendum pharetra ultricies. Mauris dictum hendrerit dictum. Suspendisse vitae elit vitae justo fermentum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed feugiat ipsum, ac faucibus augue. Quisque iaculis velit in magna mollis sollicitudin. Praesent eget ultrices dui. Quisque faucibus risus ac neque mollis,
                            non accumsan nisl malesuada. Morbi bibendum pharetra ultricies. Mauris dictum hendrerit dictum. Suspendisse vitae elit vitae justo fermentum.
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="row skills-section" id="skills">
                <div class="col s12">

                    <h2 class="section-title">MES COMPÉTENCES</h2>
                     <canvas id="canvas" width="300" height="300"></canvas>

                </div>
            </div>

            <div class="row" id="project">
                {% for project in projectList %}
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('../uploads/projects/d2_pict.png') }}">
                                <a href="{{ project.link }}" class="btn-floating halfway-fab waves-effect waves-light color-action-lighten"><i class="material-icons">link</i></a>
                            </div>
                            <div class="card-content">
                                <p> {{ project.description }}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Stack du projet<i class="material-icons right">close</i></span>
                                {% for tech in project.techs %}
                                  <ul>
                                      <li>
                                          {{ tech.name }}
                                      </li>
                                  </ul>
                                {% endfor %}
                            </div>
                            <div class="card-action">
                                <span class="card-title activator grey-text text-darken-4">{{ project.name }}
                                    <i class="material-icons right line-height-0 color-action-lighten-icon">more_vert</i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row" id="contact">
                <div class="col s12">
                    {{ form_start(form, {'attr': {'id' : 'contact-form'}}) }}
                    <div>
                        {{ form_label(form.fullName) }}
                        {{ form_widget(form.fullName) }}
                    </div>
                    <div>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div>
                        {{ form_label(form.subject) }}
                        {{ form_widget(form.subject) }}
                    </div>
                    <div>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>
                    <div>
                        <button class="btn waves-effect waves-light color-action-darken" type="submit"><i class="material-icons right">send
                            </i>Valider
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="fixed-action-btn">
                <a href="{{ path('resumeDwld') }}" class="btn-floating btn-large color-action-darken tooltipped" data-position="top" data-tooltip="Télécharger mon CV">
                    <i class="large material-icons">cloud_download</i>
                </a>
            </div>

        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('build/gauge.js') }}"></script>
    {% endblock %}