{% extends "base.html.twig" %}


    {% block body %}
        {{ form_start(form) }}
        <div>
            {{ form_label(form.fullName) }}
            {{ form_widget(form.fullName) }}
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div>
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>
        <div>
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
        </div>
        <div>
            <button type="submit">Valider</button>
        </div>
        {{ form_end(form) }}

        {% for project in projectList %}
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('../uploads/projects/d2_pict.png') }}">
                        <span class="card-title"> {{ project.name }}</span>
                    </div>
                    <div class="card-content">
                        <p> {{ project.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ project.link }}">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}




        {% for skill in skillList %}
            {{ skill.name }}
            {{ skill.level }}
        {% endfor %}
    {% endblock %}